// IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

// SASS VARIABLES
$font: "Space Grotesk", Helvetica, sans-serif;
$red: #ff1111;
$orange: #ff7700;
$yellow: #ffdd22;
$green: #44ee33;
$blue: #1166cc;
$light-blue: #66ccff;
$light-pink: #ff88bb;
$pink: #ee2299;
$purple: #7700aa;
$dark: #010101;
$light: #fefefe;
$grey: #bbbbbb;

$main: $dark;
$background: $light;
$primary: $pink;
$secondary: $orange;

// RESETS
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// GLOBAL STYLES
body {
  font-family: $font;
  color: $dark;
}

img {
  width: 100%;
}

/*
a {
  text-decoration: none;
  color: $primary;
  &:visited {
    color: lighten($primary, 20%);
  }
  &:hover {
    color: $secondary;
  }
}
*/

a:link,
a:visited {
  text-decoration: none;
  border-bottom: 6px solid $primary;
  color: $main;
  transition: background 0.2s linear;
}
a:hover {
  background: $primary;
}

body, html {
  margin: 0;
  padding: 0;
  // overflow: hidden;
  // cursor: none;
}

main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  pointer-events: none;
  user-select: none;
  // cursor: none;
}

p {
  margin: 0 0 1rem 0;
  line-height: 1.5;
  font-size: 1rem;
}

#defaultCanvas0 {
  position: fixed;
}

#canvasContainer {
  position: fixed;
  z-index: 5;
  // cursor: none;
}