<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <link href="css/style.css" rel="stylesheet" type="text/css" /> #}
    <link rel="stylesheet" type="text/css" href="{{ 'css/style.css' | url }}">
    <title>{{ site.name }} | {{ title }} | {{ site.author }}</title>
  </head>
  <body>
  This is the base!
{{ content | safe }}
  </body>
</html>