<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <title>{{ site.name }} | {{ title }} | {{ site.author }}</title>
  </head>
  <body>
    <article>
      {{ content | safe }}
    </article>
    <footer>
  Page's feet
</footer>
  </body>
</html>