// IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

// SASS VARIABLES
$font: "Space Grotesk", Helvetica, sans-serif;
$red: #ff1111;
$orange: #ff7700;
$yellow: #ffdd22;
$green: #44ee33;
$blue: #1166cc;
$light-blue: #66ccff;
$light-pink: #ff88bb;
$pink: #ee2299;
$purple: #7700aa;
$dark: #010101;
$light: #fefefe;
$grey: #bbbbbb;

$main: $light;
$background: $dark;
$primary: $pink;
$secondary: $orange;

// RESETS
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// GLOBAL STYLES
body {
  font-family: $font;
  color: $main;
  background: $background;
}

img {
  width: 100%;
}

a:link,
a:visited {
  text-decoration: none;
  border-bottom: 6px solid $primary;
  color: $main;
  transition: background 0.2s linear;
}
a:hover {
  background: $primary;
}

p {
  margin: 0 0 1rem 0;
  line-height: 1.5;
  font-size: 1rem;
}
