@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Space Grotesk", Helvetica, sans-serif;
  color: #010101;
}

img {
  width: 100%;
}

/*
a {
  text-decoration: none;
  color: $primary;
  &:visited {
    color: lighten($primary, 20%);
  }
  &:hover {
    color: $secondary;
  }
}
*/
a:link,
a:visited {
  text-decoration: none;
  border-bottom: 6px solid #ee2299;
  color: #010101;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

a:hover {
  background: #ee2299;
}

p {
  margin: 0 0 1rem 0;
  line-height: 1.5;
  font-size: 1rem;
}
